services:
  db:
    image: postgres:latest
    ports:
        - "5432:5432"
    restart: always
    environment:
        POSTGRES_PASSWORD: adminPassword!

  adminer:
    image: adminer:latest
    ports:
        - "8181:8080"
    restart: always

volumes:
  keycloak_data:
    driver: local

